## Import Libraries and Data

In [2]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PowerTransformer
from sklearn.preprocessing import QuantileTransformer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error as mae
import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib.colors import ListedColormap
import statsmodels.api as sm
from scipy.stats import boxcox
from sklearn.ensemble import RandomForestClassifier

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
import os
import zipfile

In [5]:
#import data
#specify the file path
file_path = "/Users/adrianacuppuleri/Desktop/GITHUB ADRIANA/Human_Resources_Data_Set/data/archive.zip"

target_dir = os.path.splitext(file_path)[0]

with zipfile.ZipFile(file_path, "r") as zip_ref:
    zip_ref.extractall(target_dir)

# List the contents of the target directory
print(f"Contents of {target_dir}:")
for root, dirs, files in os.walk(target_dir):
    for file in files:
        print(os.path.join(root, file))

Contents of /Users/adrianacuppuleri/Desktop/GITHUB ADRIANA/Human_Resources_Data_Set/data/archive:
/Users/adrianacuppuleri/Desktop/GITHUB ADRIANA/Human_Resources_Data_Set/data/archive/HRDataset_v14.csv

In [6]:
# Specify the path to the extracted CSV file
csv_file_path = os.path.join(target_dir, "HRDataset_v14.csv")

# Read the CSV file into a pandas DataFrame
df = pd.read_csv(csv_file_path)
df.head()

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Position,State,Zip,DOB,Sex,MaritalDesc,CitizenDesc,HispanicLatino,RaceDesc,DateofHire,DateofTermination,TermReason,EmploymentStatus,Department,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,0,19,Production Technician I,MA,1960,07/10/83,M,Single,US Citizen,No,White,7/5/2011,NaN,N/A-StillEmployed,Active,Production,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,1,27,Sr. DBA,MA,2148,05/05/75,M,Married,US Citizen,No,White,3/30/2015,6/16/2016,career change,Voluntarily Terminated,IT/IS,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,1,20,Production Technician II,MA,1810,09/19/88,F,Married,US Citizen,No,White,7/5/2011,9/24/2012,hours,Voluntarily Terminated,Production,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,0,19,Production Technician I,MA,1886,09/27/88,F,Married,US Citizen,No,White,1/7/2008,NaN,N/A-StillEmployed,Active,Production,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,1,19,Production Technician I,MA,2169,09/08/89,F,Divorced,US Citizen,No,White,7/11/2011,9/6/2016,return to school,Voluntarily Terminated,Production,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 36 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   employee_name               311 non-null    object
 1   empid                       311 non-null    int64
 2   marriedid                   311 non-null    int64
 3   maritalstatusid             311 non-null    int64
 4   genderid                    311 non-null    int64
 5   empstatusid                 311 non-null    int64
 6   deptid                      311 non-null    int64
 7   perfscoreid                 311 non-null    int64
 8   fromdiversityjobfairid      311 non-null    int64
 9   salary                      311 non-null    int64
 10  termd                       311 non-null    int64
 11  positionid                  311 non-null    int64
 12  position                    311 non-null    object
 13  state                       311 non-null    object
 14  zip                         311 non-null    int64
 15  dob                         311 non-null    object
 16  sex                         311 non-null    object
 17  maritaldesc                 311 non-null    object
 18  citizendesc                 311 non-null    object
 19  hispaniclatino              311 non-null    object
 20  racedesc                    311 non-null    object
 21  dateofhire                  311 non-null    object
 22  dateoftermination           104 non-null    object
 23  termreason                  311 non-null    object
 24  employmentstatus            311 non-null    object
 25  department                  311 non-null    object
 26  managername                 311 non-null    object
 27  managerid                   303 non-null    float64
 28  recruitmentsource           311 non-null    object
 29  performancescore            311 non-null    object
 30  engagementsurvey            311 non-null    float64
 31  empsatisfaction             311 non-null    int64
 32  specialprojectscount        311 non-null    int64
 33  lastperformancereview_date  311 non-null    object
 34  dayslatelast30              311 non-null    int64
 35  absences                    311 non-null    int64
dtypes: float64(2), int64(16), object(18)
memory usage: 87.6+ KB

In [14]:
### some columns are very similar ###
print(df[["MarriedID","MaritalStatusID","MaritalDesc"]])
print(df[["GenderID","Sex"]])
print(df[["HispanicLatino","RaceDesc"]])
print(df['RaceDesc'].unique())

     MarriedID  MaritalStatusID MaritalDesc
0            0                0      Single
1            1                1     Married
2            1                1     Married
3            1                1     Married
4            0                2    Divorced
..         ...              ...         ...
306          0                0      Single
307          0                0      Single
308          0                0      Single
309          0                0      Single
310          0                4     Widowed

[311 rows x 3 columns]
     GenderID Sex
0           1  M
1           1  M
2           0   F
3           0   F
4           0   F
..        ...  ..
306         1  M
307         0   F
308         0   F
309         0   F
310         0   F

[311 rows x 2 columns]
    HispanicLatino RaceDesc
0               No    White
1               No    White
2               No    White
3               No    White
4               No    White
..             ...      ...
306             No    White
307             No    Asian
308             No    White
309             No    White
310             No    Asian

[311 rows x 2 columns]
['White' 'Black or African American' 'Two or more races' 'Asian'
 'American Indian or Alaska Native' 'Hispanic']

In [15]:
df.columns= df.columns.str.lower()

In [30]:
#no correspondence of empstatusid
print(df['empstatusid'].unique())

[1 5 3 4 2]

## Data Cleaning

### Null Values

In [45]:
### edit managerid  null cell. ###
print(df['managerid'].unique())
df[["managerid","managername"]].sort_values(by="managerid", ascending=False)

[22.  4. 20. 16. 39. 11. 10. 19. 12.  7. 14. 18.  3.  2.  1. 17.  5. 21.
  6. 15. 13.  9. 30.]

     managerid         managername
198       39.0      Webster Butler
276       39.0      Webster Butler
280       39.0      Webster Butler
135       39.0      Webster Butler
65        39.0      Webster Butler
..         ...                 ...
268        1.0  Brandon R. LeBlanc
29         1.0  Brandon R. LeBlanc
255        1.0  Brandon R. LeBlanc
259        1.0  Brandon R. LeBlanc
160        1.0  Brandon R. LeBlanc

[311 rows x 2 columns]

In [40]:
### edit managerid  null cell. ###
#select managerid are null and correspondent managername
print(df[pd.isnull(df['managerid'])][['managerid', 'managername']].sort_values(by='managername'))

# Select rows where managername is 'Webster Butler'
print(webster_butler_rows = df[df['managername'] == 'Webster Butler'])

# Check if there are any non-null managerid values for Webster Butler
if not webster_butler_rows['managerid'].isnull().all():
    # Get the first non-null managerid value for Webster Butler
    webster_butler_id = webster_butler_rows['managerid'].dropna().iloc[0]
    print(f"The managerid for Webster Butler is: {webster_butler_id}")
else:
    print("Webster Butler has no non-null managerid.")

The managerid for Webster Butler is: 39.0

In [44]:
# Assign managerid 39.0 to rows where managername is 'Webster Butler'
df.loc[df['managername'] == 'Webster Butler', 'managerid'] = 39.0
df['managerid'].isnull().unique()

array([False])

In [62]:
### what about null cell in dateoftermination? ###
print(df['dateoftermination'].isnull().value_counts())
df[pd.isnull(df['dateoftermination'])][['dateoftermination', 'termd','termreason']]

True     207
False    104
Name: dateoftermination, dtype: int64

    dateoftermination  termd         termreason
0                 NaN      0  N/A-StillEmployed
3                 NaN      0  N/A-StillEmployed
5                 NaN      0  N/A-StillEmployed
6                 NaN      0  N/A-StillEmployed
7                 NaN      0  N/A-StillEmployed
..                ...    ...                ...
305               NaN      0  N/A-StillEmployed
306               NaN      0  N/A-StillEmployed
308               NaN      0  N/A-StillEmployed
309               NaN      0  N/A-StillEmployed
310               NaN      0  N/A-StillEmployed

[207 rows x 3 columns]

In [68]:
# Select rows where dateoftermination is null
null_termination_rows = df[pd.isnull(df['dateoftermination'])]

# Check if all termid values are 0 for these rows
if null_termination_rows['termd'].eq(0).all():
    print("All termid values are 0 for rows where dateoftermination is null.")
else:
    print("Some termid values are not 0 for rows where dateoftermination is null.")
### 0:still employed, 1:NOT EMPLOYED ANYMORE

All termid values are 0 for rows where dateoftermination is null.

## Datetime Format

In [91]:
# Transform date object in datetime format
df[['dateofhire','dateoftermination','lastperformancereview_date']] = df[['dateofhire','dateoftermination','lastperformancereview_date']].apply(pd.to_datetime,errors='coerce')

In [90]:
#calculate total days employees worked
df['employment_years'] = ((df['dateoftermination'] - df['dateofhire']).dt.days/365).round(2)
df[['dateofhire', 'dateoftermination', 'employment_years']]

    dateofhire dateoftermination  employment_years
0   2011-07-05               NaT               NaN
1   2015-03-30        2016-06-16              1.22
2   2011-07-05        2012-09-24              1.22
3   2008-01-07               NaT               NaN
4   2011-07-11        2016-09-06              5.16
..         ...               ...               ...
306 2014-07-07               NaT               NaN
307 2008-09-02        2015-09-29              7.08
308 2010-04-10               NaT               NaN
309 2015-03-30               NaT               NaN
310 2014-09-29               NaT               NaN

[311 rows x 3 columns]

## Data Distribution